<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style1.css')}}" />
	<title>Document</title>
</head>

<body>
	<!-- Navigation Bar -->
	<nav class="navbar navbar-expand-lg navbar navbar-light bg-light py-3">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"><b>GA-SVM</b></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
				aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="{{url_for('home')}}" id="home">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('datasetPage')}}" id="data">Data</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false" id="simulation">
							GA-SVM Process
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li><a class="dropdown-item" href="{{url_for('preprocessingPage')}}" id="preprocessing">Pre-Processing</a>
							</li>
							<li><a class="dropdown-item" href="{{url_for('weightingPage')}}" id="weighting">TF-IDF</a></li>
							<li><a class="dropdown-item" href="{{url_for('svmPage')}}" id="svm">SVM</a></li>
							<li><a class="dropdown-item" href="{{url_for('gaPage')}}" id="ga">Genetic Algorithm Process</a></li>
						</ul>
					</li>
					<li>
						<a class="nav-link" href="{{url_for('implementationPage')}}" id="implementation">Implementation</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('chart')}}" id="chart">Chart</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div>
	<div class="card-weighting">
		<h3 class="title-data mt-3 mb-3">Split Datasets and Term Weighting</h3>
		<p>Splitting dataset into data train and data test. Performing TF-IDF (Term Frequency-Inverse Document Frequency)
		techniques to calculate the significance of words (terms) in both individual documents and the overall corpus.</p>
	</div>
	<div class="container">
		<div class="row row-weighting">
			<div class="col col-splitData">
				<div class="">
					<center>
						<h4 class="my-3">Split Dataset</h4>
						<p>Divide dataset into data train and data test</p>
					</center>
					<center>
						<form action="{{url_for('splitData')}}" method="post">
						<div class="form-group">
							<input id="" cols="65" rows="7" name="splitData" value="split" class="input_form" type=hidden></input>
							<!-- <input class="form-control input_form" id="sentiment" type="text" name="sentiment" value=""> -->
						</div>
					
						<input type="submit" value="Split Data" class="btn btn-custom" id = button-split></input>
					</form></center>
					<div class="row">
						<div class="col">
							<div class="card card-split-train">
									Total Train data : 
									<p id = "train-data">{{total_train}}</p>

							</div>
						</div>
						<div class="col">
								<div class="card card-split-test">
									Total Test data :
									<p id = "test-data">{{total_test}}</p>
								
								</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col col-weighting">
				<center>
					<h4 class="my-3">Term Weighting using TF-IDF</h4>
					<p>Calculate the significance of term being used in document</p>
				</center>
				<center>
					<form action="{{url_for('weighting')}}" method="post">
					<div class="form-group">
						<input id="" cols="65" rows="7" name="weighting" value="split" class="input_form" type=hidden></input>
						<!-- <input class="form-control input_form" id="sentiment" type="text" name="sentiment" value=""> -->
					</div>
				
					<input type="submit" value="Weighting Term" class="btn btn-custom" id = "button-weighting"></input>
				</form></center>
				<div class="row">
					<div class="col">
						<div class="card card-split-train">
							Train shape :
							<p id = "train-shape">{{train_shape}}</p>
				
						</div>
					</div>
					<div class="col">
						<div class="card card-split-test">
							Test shape :
							<p id = "test-shape">{{test_shape}}</p>
				
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
		integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
		integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
		crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>


</body>

</html>